@mixin onDesktop {
  @media screen and (min-width: 1125px) {
    @content;
  }
}

@mixin onMobile {
  @media screen and (max-width: 1124px) {
    @content;
  }
}

@mixin colCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}