// COLORS
$violet: hsl(263, 55%, 52%);
$grayish-blue: hsl(217, 19%, 35%);
$blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 95%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// OPACITY
$o-50: 0.5;
$o-70: 0.7;

// FONT SIZE
$body-font: 13px;

// FONT FAMILY
$barlow: 'Barlow Semi Condensed', sans-serif;

// FONT WEIGHT
$med: 500;
$semi: 600;